* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Header base */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #575655;
  position: relative;
  z-index: 1001;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

/* Botão hamburguer (mobile) */
.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-btn div {
  width: 25px;
  height: 3px;
  background-color: #111;
  transition: 0.3s;
}

/* Menu mobile padrão */
nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  background-color: #fff;
  color: #111;
  border-right: 1px solid #ddd;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  transition: left 0.4s ease;
  z-index: 1000;
}

nav.active {
  left: 0;
}

nav a {
  color: #111;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}

nav a:hover {
  transform: translateX(5px);
}

/* Estilos desktop */
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  nav {
    all: unset; /* remove tudo do nav mobile */
    display: flex;
    gap: 30px;
    align-items: center;
  }

  nav a {
    font-size: 16px;
    color: #111;
    text-decoration: none;
    transform: none;
  }

  nav a:hover {
    text-decoration: underline;
  }
}
.logo img {
  height: 50px; /* tamanho padrão no desktop */
  width: auto;
}

/* Versão mobile */
@media (max-width: 767px) {
  .logo img {
    height: 40px; /* menor no mobile */
  }
}





.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background-color: #ffffff;
  overflow: hidden;
}

.hero-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text, .hero-image {
  flex: 1 1 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #111;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
}

.hero-btn {
  background-color: #0077ED;
  color: white;
  padding: 13px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #0076edca;
}

.hero-image img {
  max-width: 100%;
  height: auto;

  margin-top: 30px;
}

/* Responsivo (Mobile) */
@media (min-width: 768px) {
  .hero-content {
    flex-wrap: nowrap;
  }

  .hero-text {
    flex: 1;
    text-align: left;
    transform: translateX(-50px);
  }

  .hero-image {
    flex: 1;
    transform: translateX(50px);
  }



}


/* produtos */
.secao-produtos {
  background: #ffffff;
  padding: 80px 20px;
  text-align: center;
}

.texto-secao {
  margin-bottom: 40px;
  overflow: hidden; /* evita bugs de rolagem */
}

.titulo, .subtitulo {
  opacity: 0;
  transition: all 0.6s ease;
  will-change: transform, opacity;
}

.titulo {
  transform: translateX(100px);
  font-size: 2.5rem;
}

.subtitulo {
  transform: translateX(-100px);
  font-size: 0.9;
  color: #575655;
}

.prodtxt{
    color:#0077ED ;
    
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 60px; /* espaço entre os blocos */
}

.card-item {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.032);
  padding: 30px;
  width: 100%;
  max-width: 360px;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;
}

.card-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card-item h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.card-item p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 20px;
}

.btn-black {
  background: #0077ED;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: background 0.3s ease;
}

.btn-black:hover {
  background: #0076edd0;
}





.imgselo{
    text-align: center; margin: 20px 0;
}

.imgselo2{
    max-width: 600px; width: 100%; height: auto;
}



/* sessao beneficios */

 .secao-beneficios {
      background: linear-gradient(to right, #0077ED, #000000);
      color: white;
      padding: 60px 20px;
    }

    .container-beneficios {
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;
      align-items: flex-start;
      justify-content: space-between;
    }

    .texto-esquerda {
      flex: 1 1 40%;
      font-size: 2em;
      font-weight: bold;
      padding-right: 20px;
    }

    .beneficios {
      flex: 1 1 55%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .beneficio {
      display: flex;
      align-items: flex-start;
      gap: 20px;
    }

    .beneficio i {
      font-size: 2rem;
      color: #00B0FF;
      flex-shrink: 0;
    }

    .beneficio h3 {
      margin: 0;
      font-size: 1.3em;
      color: white;
    }

    .beneficio p {
      margin: 5px 0 0;
      color: #ddd;
    }

    .azul {
      color: #00B0FF;
    }

    /* Animações */
    .animar {
      opacity: 0;
      transform: translateX(100px);
      transition: all 1s ease;
    }

    .animar.esquerda {
      transform: translateX(-100px);
    }

    .animar.visivel {
      opacity: 1;
      transform: translateX(0);
    }

    @media (max-width: 768px) {
      .container-beneficios {
        flex-direction: column;
        text-align: center;
      }

      .texto-esquerda {
        padding: 0;
        margin-bottom: 30px;
        font-size: 1.5em;
      }

      .beneficio {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .beneficio i {
        font-size: 1.8rem;
      }
    }

       /* SESSAO DEPOIMENTOS */

       .secao-depoimentos {
      padding: 60px 20px;
      background: #ffffff;
      color: #000;
      text-align: center;
    }

    .secao-depoimentos h2 {
      font-size: 2.5rem;
      margin-bottom: 40px;
    }

    .depoimentos-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .depoimento {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 20px;
      border-radius: 20px;
      max-width: 320px;
      text-align: left;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
      transition: transform 0.3s ease;
      opacity: 0;
      transform: translateY(50px);
    }

    .depoimento.visivel {
      opacity: 1;
      transform: translateY(0);
      transition: all 1s ease;
    }

    .depoimento:hover {
      transform: scale(1.03);
    }

    .depoimento img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    .depoimento strong {
      display: block;
      font-size: 1.1rem;
      margin-bottom: 5px;
      color: #000;
    }

    .estrelas i {
      color: #FFD700; /* Dourado */
      font-size: 1.2rem;
      margin-right: 2px;
    }

    .comentario {
      margin-top: 10px;
      color: #333;
      font-size: 0.95rem;
    }

    @media (max-width: 768px) {
      .depoimentos-container {
        flex-direction: column;
        align-items: center;
      }
    }



        /* sessao maps */

        .secao-mapa {
      padding: 60px 20px;
      text-align: center;
      color: #111;
    }

    .secao-mapa h2 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    .secao-mapa p {
      font-size: 1.1rem;
      margin-bottom: 20px;
      color: #555;
    }

    .secao-mapa a.botao {
      display: inline-block;
      margin-bottom: 40px;
      padding: 12px 25px;
      background-color: #0077ED;
      color: white;
      border-radius: 6px;
      text-decoration: none;
      font-weight: bold;
      transition: background 0.3s ease;
    }

    .secao-mapa a.botao:hover {
      background-color: #005fcc;
    }

    .mapa-container {
      max-width: 1000px;
      margin: 0 auto;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 8px 20px rgba(0,0,0,0.08);
      opacity: 0;
      transform: translateY(50px);
      transition: all 1s ease;
    }

    .mapa-container.visivel {
      opacity: 1;
      transform: translateY(0);
    }

    iframe {
      width: 100%;
      height: 450px;
      border: 0;
    }

    @media (max-width: 768px) {
      .secao-mapa h2 {
        font-size: 2rem;
      }

      .secao-mapa p {
        font-size: 1rem;
      }

      iframe {
        height: 300px;
      }
    }




       /* faq */

       .faq-section {
      padding: 60px 20px;
      max-width: 1200px;
      margin: auto;
      color: #111;
    }

    .faq-section h2 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    .faq-section p.subtitulo {
      text-align: center;
      font-size: 1.1rem;
      color: #555;
      margin-bottom: 40px;
    }

 .faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


    .faq-item {
      background: #fff;
      border-radius: 8px;
      padding: 0;
      box-shadow: 0 4px 10px rgba(0,0,0,0.06);
      overflow: hidden;
      border-bottom: 1px solid #ccc;
    }

    .faq-question {
      padding: 20px;
      font-weight: bold;
      font-size: 1.05rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }

    .faq-answer {
      padding: 0 20px 20px;
      display: none;
      font-size: 0.98rem;
      line-height: 1.5;
      color: #333;
    }

    .faq-answer a {
      color: #0077ED;
      text-decoration: none;
    }

    .faq-item.ativo .faq-answer {
      display: block;
    }

    .faq-item.ativo .faq-question::after {
      content: '▲';
      font-size: 0.9rem;
    }

    .faq-question::after {
      content: '▼';
      font-size: 0.9rem;
    }

    @media (max-width: 768px) {
      .faq-grid {
        grid-template-columns: 1fr;
      }
    }






    
 .formulario-whatsapp {
      padding: 60px 20px;
      text-align: center;
    }

    .formulario-whatsapp .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 40px;
      border-radius: 16px;
      border: 1px solid #55555528;
      box-shadow: 0 0 10px rgba(255, 156, 219, 0.2);
    }

    .titulo-formulario {
     color: #000;
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    .subtitulo-formulario {
      color: #555;
      margin-bottom: 30px;
    }

    .formulario-whatsapp input,
    .formulario-whatsapp textarea {
      width: 100%;
      padding: 12px 15px;
      margin-bottom: 15px;
      border: 1px solid #555;
      border-radius: 8px;
      background: #5555551a;
      color: #cccccc;
      font-size: 1rem;
    }

    .formulario-whatsapp textarea {
      resize: vertical;
      height: 50px;
    }

    .formulario-whatsapp button {
      background: linear-gradient(90deg, #00B0FF, #00aeffb4);
      border: none;
      color: white;
      padding: 12px 30px;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      display: inline-flex;
      align-items: center;
    }

    .formulario-whatsapp button:hover {
      background: linear-gradient(90deg, #00B0FF, #00B0FF);
    }

    .botao-container-brilhante {
      position: relative;
      display: inline-block;
    }

    .light-line-form {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      border-radius: 10px;
      background: linear-gradient(90deg, transparent, #00aeff22, transparent);
      background-size: 300% 100%;
      animation: moveLightForm 2s linear infinite;
      filter: blur(2px);
      z-index: 1;
      pointer-events: none;
    }

    @keyframes moveLightForm {
      0% {
        background-position: -100% 0;
      }
      100% {
        background-position: 200% 0;
      }
    }

    @media (max-width: 768px) {
      .titulo-formulario {
        font-size: 2rem;
      }
    }

    .animar-direita,
    .animar-esquerda,
    .animar-baixo {
      opacity: 0;
      transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .animar-direita {
      transform: translateX(100px);
    }

    .animar-esquerda {
      transform: translateX(-100px);
    }

    .animar-baixo {
      transform: translateY(60px);
    }

    .animar-direita.ativo,
    .animar-esquerda.ativo,
    .animar-baixo.ativo {
      opacity: 1;
      transform: translate(0, 0);
    }